{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1 class="mt-5">Level 2</h1>
  <p class="lead">This page shows objects named after <strong>{{somebodys_name}}</strong>
    in Germany, Austria, and Switzerland. </p>

  You have entered the coordinates ({{latitude}}, {{longitude}}).

  Change your current location:
  <form method="POST">
    <input name="latitude" type="text" placeholder="latitude" />
    <input name="longitude" type="text" placeholder="longitude" />
    <br>
    <br>
    Change the selected person:
    <br>
    <input name="somebody" type="text" placeholder="somebody" />
    <input name="somebodys_name" type="text" placeholder="somebodys name" />
    <input type="submit" value="Go">
  </form>

  <br>

  Example: 49.49671, 8.47955, http://www.wikidata.org/entity/Q9554, Martin Luther

  <br>
  <br>

  {{abstract}}

  <br>
  <br>

  <iframe style="width: 100%; height: 50vh; border: none;"
          src="{{_map}}"
          referrerpolicy="origin"
          sandbox="allow-scripts allow-same-origin allow-popups">
  </iframe>

  <br>
  <br>

  <table class="table">
    <thead>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>


</main>
{% endblock %}
