{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1 class="mt-5">Location App Showing Objects Named After People</h1>
  <h2 class="mt-5">Person Search</h2>
  <br>
  <p class="lead">This page shows objects named after <strong>{{somebodys_name}}</strong>
    in Germany, Austria, and Switzerland. </p>
  You have entered the coordinates ({{latitude}}, {{longitude}}).<br>
  <br>
  Change your current location or the selected person:
  <form method="POST">
    <input name="latitude" type="text" placeholder="latitude" />
    <input name="longitude" type="text" placeholder="longitude" />
    <input name="somebodys_label" type="text" placeholder="somebodys label" />
    <input name="somebodys_name" type="text" placeholder="somebody" />
    <input type="submit" value="Go">
  </form>

  <br>

  Example: http://www.wikidata.org/entity/Q9554, Martin Luther

  <br>
  <br>

  {{abstract}}

  <br>
  <br>

  <iframe style="width: 100%; height: 50vh; border: none;"
          src="{{_map}}"
          referrerpolicy="origin"
          sandbox="allow-scripts allow-same-origin allow-popups">
  </iframe>

  <br>
  <br>

  <table class="table">
    <thead>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

</main>

<br>
<br>
<br>
<br>
<br>

{% endblock %}
