{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1 class="mt-5">Location App Showing Objects Named After People</h1>
  <h2 class="mt-5">Object Search</h2>
  <br>
  <p class="lead">This page shows objects named after people in Germany, Austria, and Switzerland. </p>
  Insert your current location:
  <form method="POST">
    <input name="latitude" type="text" placeholder="latitude" />
    <input name="longitude" type="text" placeholder="longitude" />
    <input name="radius" type="text" placeholder="radius (km)" />
    <input type="submit" value="Go">
  </form>
  <br>
  Note: Latitudes range from -90 to 90. Longitudes range from -180 to 80.<br>
  Currently only locations within Germany are supported. Default value for radius is 10 km.<br>
  Example: Mannheim has the coordinates (49.49671, 8.47955).<br>
  <br>
  <p class="lead"><strong>{{string}}</strong></p><br>

  <iframe style="width: 100%; height: 50vh; border: none;"
          src="{{_map}}"
          referrerpolicy="origin"
          sandbox="allow-scripts allow-same-origin allow-popups">
  </iframe>

  <br>
  <br>

  <table class="table">
    <thead>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      {% if col == link_column %}
      <td>
        <form method="POST">
          <button name="somebodyLabel" type="submit" value={{row_}}> Go </button>
        </form>
      </td>
      {% else %}
      <td>{{row_}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</main>

<br>
<br>
<br>
<br>
<br>

{% endblock %}
