{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}


{% block content %}
<main role="main" class="container">
  <h1 class="mt-5">Churches</h1>
  <p class="lead">Insert your current location:</p>
  <form method="POST">
    <input name="latitude" type="text" placeholder="latitude" />
    <input name="longitude" type="text" placeholder="longitude" />
    <input type="submit">
  </form>
  <br>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Church Name</th>
      <th scope="col">City</th>
      <th scope="col">Person</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Church Name</td>
      <td>City</td>
      <td>Friedrich Schiller</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Church Name</td>
      <td>City</td>
      <td>Johann Wolfgang von Goethe</td>
    </tr>
    </tbody>
  </table>

</main>
{% endblock %}
