{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1 class="mt-5">Streets</h1>
  <p class="lead">You inserted the following coordinates: ({{latitude}}, {{longitude}})</p>

  Change your current location:
  <form method="POST">
    <input name="latitude" type="text" placeholder="latitude" />
    <input name="longitude" type="text" placeholder="longitude" />
    <input type="submit" value="Go">
  </form>

  <br>
  <br>

  <table class="table">
    <thead>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      {% if col == link_column %}
      <td><button type="submit" value={{row_}}>{{ row_ }}</button></td>
      {% else %}
      <td>{{row_}}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</main>
{% endblock %}
